body {
    background-color: #FBFCFD;
}

.menu li {
    float: left;
    list-style-type: none;
}

a {
    display: block;
    padding: 40px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: Georgia;
}

nav {
    background-color: #FFE87C;
    height: 100px;
    margin-bottom: 40px;
}

#nav_icon {
    height: 60px;
}

footer {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: Georgia;
}

.Banner {
    display: flex;
}

.Banner_text {
    margin-top: 40px;
    margin-left: 10px;
    font-size: 18px;
    font-family: Georgia;
}

.Banner_photo {
    height: 400px;
    border: solid 7px #F28930;
}

.Bouquet_week {
    margin-top: 80px;
    font-family: Georgia;
    text-align: center;
}

.Bouquet_week_photos {
    display: flex;
    justify-content: center;
}

.Bouquet_week_photo {
    height: 600px;
    border: solid 7px #000000;
}

.Bouquet_photos {
    display: flex;
}

.Information {
    text-align: justify;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 120px;
    font-size: 18px;
    font-family: Georgia;
}

#buy_button {
    text-align: center;
    padding: 10px;
    height: 30px;
    width: 120px;
    border: solid 2px #000000;
    background-color: #FFE87C;
}

video {
    width: 100%;
    height: 600px;
    text-align: center;
    margin-bottom: 30px;
}

