.Banner {
    display: flex;
}

.Banner_text {
    margin-top: 40px;
    margin-left: 10px;
}

.Banner_photo {
    height: 400px;
    border: solid 7px #F28930;
}
.Bouquet_week {
    margin-top: 80px;
    text-align: center;
}

#countdown {
    font-size: 30px;
    margin-left: 30px;
}

.Slider {
    width: 600px;
    height: 615px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
}

.Slides {
    display: flex;
    transition: transform 0.5s;
    width: 100%;
    height: 100%;
}

.Slide_photo {
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.Slide_photo a {
    display: contents;
}

.Slide_photo img {
    width: 500px;
    height: 600px;
    border: solid 7px #000000;
    display: block;

}

.prev, .next {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.Advices {
    margin-top: 80px;
    margin-left: 40px;
}