.personal_account {
    display: flex;
    justify-content: center;
    margin-bottom: 400px;
}

.personal_account form {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

#button {
    margin-top: 10px;
}

#warning_message {
    font-size: 12px;
    color: red;
}