.catalog_section {
    background-color: #E1E1E1;
    margin: 40px 90px;
    padding: 50px;
    min-height: 200px;
}

#create_button {
    display: block;
    font-size: 17px;
    padding: 10px 16px;
    margin-bottom: 20px;
    font-family: Georgia;
    visibility: visible;
    position: static;
}

#creating_menu {
    margin: 50px 10px;
    background-color: #CFCFCF;
    border: solid 2px #B1B1B1;
    padding: 20px;
    width: 600px;
    visibility: hidden;
    position: absolute;
}

#product_name {
    width: 100%;
    margin: 0px 20px;
    max-width: 300px;
}

#product_description {
    width: 100%;
    margin: 0px 20px;
    max-width: 500px;
    min-height: 120px;
}

#photo_name {
    width: 100%;
    margin: 0px 20px;
    max-width: 150px;
}

#button {
    margin-top: 20px;
    font-size: 17px;
    padding: 10px 16px;
    font-family: Georgia;
}

.products_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: start;
}

.product_card {
    background-color: #FBFCFD;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_card p {
    font-family: Georgia;
    font-size: 17px;
}

.product_image {
    width: 250px;
    height: auto;
    border: solid 2px #000000;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.buy_button {
    margin-bottom: 10px;
    font-size: 15px;
    padding: 10px 16px;
    font-family: Georgia;
}

.delete_button {
    margin-bottom: 5px;
    padding: 5px 8px;
    font-family: Georgia;
}

#update_button {
    margin-bottom: 1px;
    padding: 5px 8px;
    font-family: Georgia;
}

.updating_menu {
    margin: 50px 10px;
    background-color: #CFCFCF;
    border: solid 2px #B1B1B1;
    padding: 20px;
    width: 600px;
    visibility: hidden;
    position: absolute;
}