.menu li {
    float: left;
    list-style-type: none;
}

.menu a {
    padding: 40px;
}

nav {
    background-color: #FFE87C;
    height: 100px;
    margin-bottom: 40px;
}

#nav_icon {
    height: 60px;
}

.button_catalog {
    position: relative;
}

#button_menu {
    cursor: pointer;
}

.catalog {
    position: absolute;
    background-color: #FFE87C;
    max-width: 150px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    border: solid 4px #F28930;

    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    visibility: hidden;
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
}

#theme_icon_dark {
    height: 50px;
    margin-top: 20px;
    margin-left: 50px;
    position: absolute;
    visibility: visible;
}

#theme_icon_light {
    height: 50px;
    margin-top: 20px;
    margin-left: 50px;
    position: absolute;
    visibility: hidden;
}



