#order_button {
    text-align: center;
    padding: 10px 30px;
    width: 200px;
    border: solid 2px #000000;
    border-radius: 5px;
    background-color: #FFE87C;
    cursor: pointer;
    font-family: Georgia;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}